{
  "openapi": "3.1.0",
  "info": {
    "title": "AgentMailer API",
    "version": "1.0.0",
    "description": "Email inboxes and durable communication identities for autonomous agents.",
    "x-generated-by": "scripts/sync-openapi.mjs"
  },
  "servers": [
    {
      "url": "https://api.agentmailer.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "agent",
      "description": "Bootstrap and approve agent identities"
    },
    {
      "name": "inboxes",
      "description": "Create and manage agent inboxes"
    },
    {
      "name": "messages",
      "description": "Read, send, reply to, and forward email"
    },
    {
      "name": "threads",
      "description": "Read inbox conversations"
    },
    {
      "name": "drafts",
      "description": "Create, update, and send drafts"
    },
    {
      "name": "attachments",
      "description": "Prepare attachment uploads"
    },
    {
      "name": "labels",
      "description": "Organize messages and threads"
    },
    {
      "name": "lists",
      "description": "Manage sender allow and block rules"
    },
    {
      "name": "pods",
      "description": "Manage isolated tenant workspaces"
    },
    {
      "name": "domains",
      "description": "Claim and inspect sending domains"
    },
    {
      "name": "webhooks",
      "description": "Manage event delivery endpoints"
    },
    {
      "name": "events",
      "description": "Create realtime event-stream tickets"
    },
    {
      "name": "billing",
      "description": "Inspect plans and open billing flows"
    },
    {
      "name": "a2a",
      "description": "Send tasks to AgentMailer identities"
    }
  ],
  "paths": {
    "/v1/agent/bootstrap": {
      "post": {
        "summary": "Create an approved agent's inbox",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "inboxes:create",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BootstrapRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing bootstrap replayed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BootstrapResponse"
                }
              }
            }
          },
          "201": {
            "description": "Agent identity and inbox created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BootstrapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "agent_bootstrap",
        "description": "Create an approved agent's inbox",
        "tags": [
          "agent"
        ],
        "x-fern-sdk-group-name": "agent",
        "x-fern-sdk-method-name": "bootstrap"
      }
    },
    "/v1/agent/sign-up": {
      "post": {
        "summary": "Start human approval for an agent",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "human_email",
                  "username"
                ],
                "properties": {
                  "human_email": {
                    "type": "string",
                    "format": "email"
                  },
                  "username": {
                    "type": "string",
                    "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$",
                    "minLength": 3,
                    "maxLength": 48
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Human approval requested",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending_human_approval"
                      ]
                    },
                    "username": {
                      "type": "string"
                    },
                    "requestedEmailAddress": {
                      "type": "string",
                      "format": "email"
                    },
                    "approvalUrl": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "status",
                    "username",
                    "requestedEmailAddress",
                    "approvalUrl"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "agent_signUp",
        "description": "Start human approval for an agent",
        "tags": [
          "agent"
        ],
        "x-fern-sdk-group-name": "agent",
        "x-fern-sdk-method-name": "signUp"
      }
    },
    "/v1/inboxes": {
      "get": {
        "summary": "List inboxes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "inboxes:read",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inbox page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inboxes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Inbox"
                      }
                    },
                    "nextPageToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "inboxes"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "inboxes_list",
        "description": "List inboxes",
        "tags": [
          "inboxes"
        ],
        "x-fern-sdk-group-name": "inboxes",
        "x-fern-sdk-method-name": "list"
      },
      "post": {
        "summary": "Create an inbox",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "inboxes:create",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboxCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inbox": {
                      "$ref": "#/components/schemas/Inbox"
                    }
                  },
                  "required": [
                    "inbox"
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Inbox created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inbox": {
                      "$ref": "#/components/schemas/Inbox"
                    }
                  },
                  "required": [
                    "inbox"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "inboxes_create",
        "description": "Create an inbox",
        "tags": [
          "inboxes"
        ],
        "x-fern-sdk-group-name": "inboxes",
        "x-fern-sdk-method-name": "create"
      }
    },
    "/v1/inboxes/{inboxId}": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "get": {
        "summary": "Get an inbox",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "inboxes:read",
        "responses": {
          "200": {
            "description": "Inbox",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inbox": {
                      "$ref": "#/components/schemas/Inbox"
                    }
                  },
                  "required": [
                    "inbox"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "inboxes_get",
        "description": "Get an inbox",
        "tags": [
          "inboxes"
        ],
        "x-fern-sdk-group-name": "inboxes",
        "x-fern-sdk-method-name": "get"
      },
      "patch": {
        "summary": "Update an inbox",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "inboxes:update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboxUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated inbox",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inbox": {
                      "$ref": "#/components/schemas/Inbox"
                    }
                  },
                  "required": [
                    "inbox"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "inboxes_update",
        "description": "Update an inbox",
        "tags": [
          "inboxes"
        ],
        "x-fern-sdk-group-name": "inboxes",
        "x-fern-sdk-method-name": "update"
      },
      "delete": {
        "summary": "Delete an inbox",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "inboxes:delete",
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "inboxes_delete",
        "description": "Delete an inbox",
        "tags": [
          "inboxes"
        ],
        "x-fern-sdk-group-name": "inboxes",
        "x-fern-sdk-method-name": "delete"
      }
    },
    "/v1/inboxes/{inboxId}/messages": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "get": {
        "summary": "List or search messages",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "messages:read",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "thread_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^thr_"
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1000
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    },
                    "nextPageToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "messages"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "messages_list",
        "description": "List or search messages",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "list"
      }
    },
    "/v1/inboxes/{inboxId}/credentials": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "post": {
        "summary": "Issue new IMAP and SMTP credentials",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "inboxes:credentials",
        "responses": {
          "201": {
            "description": "Mailbox credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    },
                    "password": {
                      "type": "string",
                      "writeOnly": true
                    },
                    "imap": {
                      "$ref": "#/components/schemas/MailProtocolEndpoint"
                    },
                    "smtp": {
                      "$ref": "#/components/schemas/MailProtocolEndpoint"
                    }
                  },
                  "required": [
                    "username",
                    "password",
                    "imap",
                    "smtp"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "inboxes_issueCredentials",
        "description": "Issue new IMAP and SMTP credentials",
        "tags": [
          "inboxes"
        ],
        "x-fern-sdk-group-name": "inboxes",
        "x-fern-sdk-method-name": "issueCredentials"
      }
    },
    "/v1/inboxes/{inboxId}/messages/send": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "post": {
        "summary": "Send a message",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "messages:send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageCompose"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Message accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "messages_send",
        "description": "Send a message",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "send"
      }
    },
    "/v1/inboxes/{inboxId}/messages/{messageId}": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "messageId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^msg_"
          }
        }
      ],
      "get": {
        "summary": "Get a message",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "messages:read",
        "responses": {
          "200": {
            "description": "Message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "messages_get",
        "description": "Get a message",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "get"
      },
      "delete": {
        "summary": "Delete a message",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "messages:write",
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "messages_delete",
        "description": "Delete a message",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "delete"
      }
    },
    "/v1/inboxes/{inboxId}/messages/{messageId}/reply": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "messageId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^msg_"
          }
        }
      ],
      "post": {
        "summary": "Reply to a message",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "messages:send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyCompose"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Reply accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "messages_reply",
        "description": "Reply to a message",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "reply"
      }
    },
    "/v1/inboxes/{inboxId}/messages/{messageId}/reply-all": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "messageId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^msg_"
          }
        }
      ],
      "post": {
        "summary": "Reply all to a message",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "messages:send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyCompose"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Reply accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "messages_replyAll",
        "description": "Reply all to a message",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "replyAll"
      }
    },
    "/v1/inboxes/{inboxId}/messages/{messageId}/forward": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "messageId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^msg_"
          }
        }
      ],
      "post": {
        "summary": "Forward a message",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "messages:send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageCompose"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Forward accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "messages_forward",
        "description": "Forward a message",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "forward"
      }
    },
    "/v1/inboxes/{inboxId}/threads": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "get": {
        "summary": "List or search threads",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "messages:read",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1000
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thread page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threads": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Thread"
                      }
                    },
                    "nextPageToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "threads"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "threads_list",
        "description": "List or search threads",
        "tags": [
          "threads"
        ],
        "x-fern-sdk-group-name": "threads",
        "x-fern-sdk-method-name": "list"
      }
    },
    "/v1/inboxes/{inboxId}/threads/{threadId}": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "threadId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^thr_"
          }
        }
      ],
      "get": {
        "summary": "Get a thread and conversation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "messages:read",
        "responses": {
          "200": {
            "description": "Thread and messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    }
                  },
                  "required": [
                    "thread",
                    "messages"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "threads_get",
        "description": "Get a thread and conversation",
        "tags": [
          "threads"
        ],
        "x-fern-sdk-group-name": "threads",
        "x-fern-sdk-method-name": "get"
      }
    },
    "/v1/inboxes/{inboxId}/drafts": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "get": {
        "summary": "List drafts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "drafts:read",
        "responses": {
          "200": {
            "description": "Drafts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "drafts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Draft"
                      }
                    }
                  },
                  "required": [
                    "drafts"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "drafts_list",
        "description": "List drafts",
        "tags": [
          "drafts"
        ],
        "x-fern-sdk-group-name": "drafts",
        "x-fern-sdk-method-name": "list"
      },
      "post": {
        "summary": "Create a draft",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "drafts:write",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Draft created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draft": {
                      "$ref": "#/components/schemas/Draft"
                    }
                  },
                  "required": [
                    "draft"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "drafts_create",
        "description": "Create a draft",
        "tags": [
          "drafts"
        ],
        "x-fern-sdk-group-name": "drafts",
        "x-fern-sdk-method-name": "create"
      }
    },
    "/v1/inboxes/{inboxId}/drafts/{draftId}": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "draftId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^drf_"
          }
        }
      ],
      "get": {
        "summary": "Get a draft",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "drafts:read",
        "responses": {
          "200": {
            "description": "Draft",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draft": {
                      "$ref": "#/components/schemas/Draft"
                    }
                  },
                  "required": [
                    "draft"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "drafts_get",
        "description": "Get a draft",
        "tags": [
          "drafts"
        ],
        "x-fern-sdk-group-name": "drafts",
        "x-fern-sdk-method-name": "get"
      },
      "patch": {
        "summary": "Update a draft",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "drafts:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated draft",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draft": {
                      "$ref": "#/components/schemas/Draft"
                    }
                  },
                  "required": [
                    "draft"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "drafts_update",
        "description": "Update a draft",
        "tags": [
          "drafts"
        ],
        "x-fern-sdk-group-name": "drafts",
        "x-fern-sdk-method-name": "update"
      },
      "delete": {
        "summary": "Delete a draft",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "drafts:write",
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "drafts_delete",
        "description": "Delete a draft",
        "tags": [
          "drafts"
        ],
        "x-fern-sdk-group-name": "drafts",
        "x-fern-sdk-method-name": "delete"
      }
    },
    "/v1/inboxes/{inboxId}/drafts/{draftId}/send": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "draftId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^drf_"
          }
        }
      ],
      "post": {
        "summary": "Send a draft",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "messages:send",
        "responses": {
          "202": {
            "description": "Draft accepted for delivery",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "drafts_send",
        "description": "Send a draft",
        "tags": [
          "drafts"
        ],
        "x-fern-sdk-group-name": "drafts",
        "x-fern-sdk-method-name": "send"
      }
    },
    "/v1/inboxes/{inboxId}/attachments": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "post": {
        "summary": "Create a direct attachment upload",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "attachments:create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentUploadCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachment upload created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "attachments_upload",
        "description": "Create a direct attachment upload",
        "tags": [
          "attachments"
        ],
        "x-fern-sdk-group-name": "attachments",
        "x-fern-sdk-method-name": "upload"
      }
    },
    "/v1/inboxes/{inboxId}/attachments/{attachmentId}/complete": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "attachmentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^att_"
          }
        }
      ],
      "post": {
        "summary": "Complete a direct attachment upload",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "attachments:create",
        "responses": {
          "200": {
            "description": "Attachment ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attachment": {
                      "$ref": "#/components/schemas/Attachment"
                    }
                  },
                  "required": [
                    "attachment"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "attachments_complete",
        "description": "Complete a direct attachment upload",
        "tags": [
          "attachments"
        ],
        "x-fern-sdk-group-name": "attachments",
        "x-fern-sdk-method-name": "complete"
      }
    },
    "/v1/inboxes/{inboxId}/attachments/{attachmentId}/download": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "attachmentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^att_"
          }
        }
      ],
      "get": {
        "summary": "Create a short-lived attachment download",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "attachments:read",
        "responses": {
          "200": {
            "description": "Attachment download",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "url",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "attachments_download",
        "description": "Create a short-lived attachment download",
        "tags": [
          "attachments"
        ],
        "x-fern-sdk-group-name": "attachments",
        "x-fern-sdk-method-name": "download"
      }
    },
    "/v1/pods": {
      "get": {
        "summary": "List Pods",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "pods:read",
        "responses": {
          "200": {
            "description": "Pods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pods": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pod"
                      }
                    }
                  },
                  "required": [
                    "pods"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "pods_list",
        "description": "List Pods",
        "tags": [
          "pods"
        ],
        "x-fern-sdk-group-name": "pods",
        "x-fern-sdk-method-name": "list"
      },
      "post": {
        "summary": "Create a Pod",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "pods:create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PodCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pod created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pod": {
                      "$ref": "#/components/schemas/Pod"
                    }
                  },
                  "required": [
                    "pod"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "pods_create",
        "description": "Create a Pod",
        "tags": [
          "pods"
        ],
        "x-fern-sdk-group-name": "pods",
        "x-fern-sdk-method-name": "create"
      }
    },
    "/v1/pods/{podId}": {
      "parameters": [
        {
          "name": "podId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^pod_"
          }
        }
      ],
      "get": {
        "summary": "Get a Pod",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-permission": "pods:read",
        "responses": {
          "200": {
            "description": "Pod",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pod": {
                      "$ref": "#/components/schemas/Pod"
                    }
                  },
                  "required": [
                    "pod"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate or plan limit reached",
            "headers": {
              "RateLimit-Policy": {
                "description": "The enforced shared API policy in RateLimit structured-field syntax.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying this request.",
                "schema": {
                  "type": "integer",
[...]
