{
  "openapi": "3.1.0",
  "info": {
    "title": "AgentMailer API",
    "version": "1.0.0",
    "description": "Email inboxes and durable communication identities for autonomous agents.",
    "x-generated-by": "scripts/sync-openapi.mjs"
  },
  "servers": [
    {
      "url": "https://api.agentmailer.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "agent",
      "description": "Bootstrap and approve agent identities"
    },
    {
      "name": "inboxes",
      "description": "Create and manage agent inboxes"
    },
    {
      "name": "messages",
      "description": "Read, send, reply to, and forward email"
    },
    {
      "name": "threads",
      "description": "Read inbox conversations"
    },
    {
      "name": "drafts",
      "description": "Create, update, and send drafts"
    },
    {
      "name": "attachments",
      "description": "Prepare attachment uploads"
    },
    {
      "name": "labels",
      "description": "Organize messages and threads"
    },
    {
      "name": "lists",
      "description": "Manage sender allow and block rules"
    },
    {
      "name": "pods",
      "description": "Manage isolated tenant workspaces"
    },
    {
      "name": "domains",
      "description": "Claim and inspect sending domains"
    },
    {
      "name": "webhooks",
      "description": "Manage event delivery endpoints"
    },
    {
      "name": "events",
      "description": "Create realtime event-stream tickets"
    },
    {
      "name": "billing",
      "description": "Inspect plans and open billing flows"
    },
    {
      "name": "a2a",
      "description": "Send tasks to AgentMailer identities"
    }
  ],
  "paths": {
    "/v1/agent/bootstrap": {
      "post": {
        "summary": "Create an approved agent's inbox",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "inboxes:create",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BootstrapRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing bootstrap replayed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BootstrapResponse"
                }
              }
            }
          },
          "201": {
            "description": "Agent identity and inbox created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BootstrapResponse"
                }
              }
            }
          }
        },
        "operationId": "agent_bootstrap",
        "tags": [
          "agent"
        ],
        "x-fern-sdk-group-name": "agent",
        "x-fern-sdk-method-name": "bootstrap"
      }
    },
    "/v1/agent/sign-up": {
      "post": {
        "summary": "Start human approval for an agent",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "human_email",
                  "username"
                ],
                "properties": {
                  "human_email": {
                    "type": "string",
                    "format": "email"
                  },
                  "username": {
                    "type": "string",
                    "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$",
                    "minLength": 3,
                    "maxLength": 48
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Human approval requested",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending_human_approval"
                      ]
                    },
                    "username": {
                      "type": "string"
                    },
                    "requestedEmailAddress": {
                      "type": "string",
                      "format": "email"
                    },
                    "approvalUrl": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "status",
                    "username",
                    "requestedEmailAddress",
                    "approvalUrl"
                  ]
                }
              }
            }
          }
        },
        "operationId": "agent_signUp",
        "tags": [
          "agent"
        ],
        "x-fern-sdk-group-name": "agent",
        "x-fern-sdk-method-name": "signUp"
      }
    },
    "/v1/inboxes": {
      "get": {
        "summary": "List inboxes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "inboxes:read",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inbox page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inboxes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Inbox"
                      }
                    },
                    "nextPageToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "inboxes"
                  ]
                }
              }
            }
          }
        },
        "operationId": "inboxes_list",
        "tags": [
          "inboxes"
        ],
        "x-fern-sdk-group-name": "inboxes",
        "x-fern-sdk-method-name": "list"
      },
      "post": {
        "summary": "Create an inbox",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "inboxes:create",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboxCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inbox": {
                      "$ref": "#/components/schemas/Inbox"
                    }
                  },
                  "required": [
                    "inbox"
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Inbox created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inbox": {
                      "$ref": "#/components/schemas/Inbox"
                    }
                  },
                  "required": [
                    "inbox"
                  ]
                }
              }
            }
          }
        },
        "operationId": "inboxes_create",
        "tags": [
          "inboxes"
        ],
        "x-fern-sdk-group-name": "inboxes",
        "x-fern-sdk-method-name": "create"
      }
    },
    "/v1/inboxes/{inboxId}": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "get": {
        "summary": "Get an inbox",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "inboxes:read",
        "responses": {
          "200": {
            "description": "Inbox",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inbox": {
                      "$ref": "#/components/schemas/Inbox"
                    }
                  },
                  "required": [
                    "inbox"
                  ]
                }
              }
            }
          }
        },
        "operationId": "inboxes_get",
        "tags": [
          "inboxes"
        ],
        "x-fern-sdk-group-name": "inboxes",
        "x-fern-sdk-method-name": "get"
      },
      "patch": {
        "summary": "Update an inbox",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "inboxes:update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboxUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated inbox",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inbox": {
                      "$ref": "#/components/schemas/Inbox"
                    }
                  },
                  "required": [
                    "inbox"
                  ]
                }
              }
            }
          }
        },
        "operationId": "inboxes_update",
        "tags": [
          "inboxes"
        ],
        "x-fern-sdk-group-name": "inboxes",
        "x-fern-sdk-method-name": "update"
      },
      "delete": {
        "summary": "Delete an inbox",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "inboxes:delete",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "operationId": "inboxes_delete",
        "tags": [
          "inboxes"
        ],
        "x-fern-sdk-group-name": "inboxes",
        "x-fern-sdk-method-name": "delete"
      }
    },
    "/v1/inboxes/{inboxId}/messages": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "get": {
        "summary": "List or search messages",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "messages:read",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "thread_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^thr_"
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1000
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    },
                    "nextPageToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "messages"
                  ]
                }
              }
            }
          }
        },
        "operationId": "messages_list",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "list"
      }
    },
    "/v1/inboxes/{inboxId}/credentials": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "post": {
        "summary": "Issue new IMAP and SMTP credentials",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "inboxes:credentials",
        "responses": {
          "201": {
            "description": "Mailbox credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    },
                    "password": {
                      "type": "string",
                      "writeOnly": true
                    },
                    "imap": {
                      "$ref": "#/components/schemas/MailProtocolEndpoint"
                    },
                    "smtp": {
                      "$ref": "#/components/schemas/MailProtocolEndpoint"
                    }
                  },
                  "required": [
                    "username",
                    "password",
                    "imap",
                    "smtp"
                  ]
                }
              }
            }
          }
        },
        "operationId": "inboxes_issueCredentials",
        "tags": [
          "inboxes"
        ],
        "x-fern-sdk-group-name": "inboxes",
        "x-fern-sdk-method-name": "issueCredentials"
      }
    },
    "/v1/inboxes/{inboxId}/messages/send": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "post": {
        "summary": "Send a message",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "messages:send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageCompose"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Message accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "operationId": "messages_send",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "send"
      }
    },
    "/v1/inboxes/{inboxId}/messages/{messageId}": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "messageId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^msg_"
          }
        }
      ],
      "get": {
        "summary": "Get a message",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "messages:read",
        "responses": {
          "200": {
            "description": "Message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "operationId": "messages_get",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "get"
      },
      "delete": {
        "summary": "Delete a message",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "messages:write",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "operationId": "messages_delete",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "delete"
      }
    },
    "/v1/inboxes/{inboxId}/messages/{messageId}/reply": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "messageId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^msg_"
          }
        }
      ],
      "post": {
        "summary": "Reply to a message",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "messages:send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyCompose"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Reply accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "operationId": "messages_reply",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "reply"
      }
    },
    "/v1/inboxes/{inboxId}/messages/{messageId}/reply-all": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "messageId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^msg_"
          }
        }
      ],
      "post": {
        "summary": "Reply all to a message",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "messages:send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyCompose"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Reply accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "operationId": "messages_replyAll",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "replyAll"
      }
    },
    "/v1/inboxes/{inboxId}/messages/{messageId}/forward": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "messageId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^msg_"
          }
        }
      ],
      "post": {
        "summary": "Forward a message",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "messages:send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageCompose"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Forward accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "operationId": "messages_forward",
        "tags": [
          "messages"
        ],
        "x-fern-sdk-group-name": "messages",
        "x-fern-sdk-method-name": "forward"
      }
    },
    "/v1/inboxes/{inboxId}/threads": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "get": {
        "summary": "List or search threads",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "messages:read",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1000
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thread page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threads": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Thread"
                      }
                    },
                    "nextPageToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "threads"
                  ]
                }
              }
            }
          }
        },
        "operationId": "threads_list",
        "tags": [
          "threads"
        ],
        "x-fern-sdk-group-name": "threads",
        "x-fern-sdk-method-name": "list"
      }
    },
    "/v1/inboxes/{inboxId}/threads/{threadId}": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "threadId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^thr_"
          }
        }
      ],
      "get": {
        "summary": "Get a thread and conversation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "messages:read",
        "responses": {
          "200": {
            "description": "Thread and messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    }
                  },
                  "required": [
                    "thread",
                    "messages"
                  ]
                }
              }
            }
          }
        },
        "operationId": "threads_get",
        "tags": [
          "threads"
        ],
        "x-fern-sdk-group-name": "threads",
        "x-fern-sdk-method-name": "get"
      }
    },
    "/v1/inboxes/{inboxId}/drafts": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "get": {
        "summary": "List drafts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "drafts:read",
        "responses": {
          "200": {
            "description": "Drafts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "drafts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Draft"
                      }
                    }
                  },
                  "required": [
                    "drafts"
                  ]
                }
              }
            }
          }
        },
        "operationId": "drafts_list",
        "tags": [
          "drafts"
        ],
        "x-fern-sdk-group-name": "drafts",
        "x-fern-sdk-method-name": "list"
      },
      "post": {
        "summary": "Create a draft",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "drafts:write",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Draft created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draft": {
                      "$ref": "#/components/schemas/Draft"
                    }
                  },
                  "required": [
                    "draft"
                  ]
                }
              }
            }
          }
        },
        "operationId": "drafts_create",
        "tags": [
          "drafts"
        ],
        "x-fern-sdk-group-name": "drafts",
        "x-fern-sdk-method-name": "create"
      }
    },
    "/v1/inboxes/{inboxId}/drafts/{draftId}": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "draftId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^drf_"
          }
        }
      ],
      "get": {
        "summary": "Get a draft",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "drafts:read",
        "responses": {
          "200": {
            "description": "Draft",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draft": {
                      "$ref": "#/components/schemas/Draft"
                    }
                  },
                  "required": [
                    "draft"
                  ]
                }
              }
            }
          }
        },
        "operationId": "drafts_get",
        "tags": [
          "drafts"
        ],
        "x-fern-sdk-group-name": "drafts",
        "x-fern-sdk-method-name": "get"
      },
      "patch": {
        "summary": "Update a draft",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "drafts:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated draft",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draft": {
                      "$ref": "#/components/schemas/Draft"
                    }
                  },
                  "required": [
                    "draft"
                  ]
                }
              }
            }
          }
        },
        "operationId": "drafts_update",
        "tags": [
          "drafts"
        ],
        "x-fern-sdk-group-name": "drafts",
        "x-fern-sdk-method-name": "update"
      },
      "delete": {
        "summary": "Delete a draft",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "drafts:write",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "operationId": "drafts_delete",
        "tags": [
          "drafts"
        ],
        "x-fern-sdk-group-name": "drafts",
        "x-fern-sdk-method-name": "delete"
      }
    },
    "/v1/inboxes/{inboxId}/drafts/{draftId}/send": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "draftId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^drf_"
          }
        }
      ],
      "post": {
        "summary": "Send a draft",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "messages:send",
        "responses": {
          "202": {
            "description": "Draft accepted for delivery",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "operationId": "drafts_send",
        "tags": [
          "drafts"
        ],
        "x-fern-sdk-group-name": "drafts",
        "x-fern-sdk-method-name": "send"
      }
    },
    "/v1/inboxes/{inboxId}/attachments": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        }
      ],
      "post": {
        "summary": "Create a direct attachment upload",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "attachments:create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentUploadCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachment upload created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "operationId": "attachments_upload",
        "tags": [
          "attachments"
        ],
        "x-fern-sdk-group-name": "attachments",
        "x-fern-sdk-method-name": "upload"
      }
    },
    "/v1/inboxes/{inboxId}/attachments/{attachmentId}/complete": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "attachmentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^att_"
          }
        }
      ],
      "post": {
        "summary": "Complete a direct attachment upload",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "attachments:create",
        "responses": {
          "200": {
            "description": "Attachment ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attachment": {
                      "$ref": "#/components/schemas/Attachment"
                    }
                  },
                  "required": [
                    "attachment"
                  ]
                }
              }
            }
          }
        },
        "operationId": "attachments_complete",
        "tags": [
          "attachments"
        ],
        "x-fern-sdk-group-name": "attachments",
        "x-fern-sdk-method-name": "complete"
      }
    },
    "/v1/inboxes/{inboxId}/attachments/{attachmentId}/download": {
      "parameters": [
        {
          "name": "inboxId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^inb_"
          }
        },
        {
          "name": "attachmentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^att_"
          }
        }
      ],
      "get": {
        "summary": "Create a short-lived attachment download",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "attachments:read",
        "responses": {
          "200": {
            "description": "Attachment download",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "url",
                    "expiresAt"
                  ]
                }
              }
            }
          }
        },
        "operationId": "attachments_download",
        "tags": [
          "attachments"
        ],
        "x-fern-sdk-group-name": "attachments",
        "x-fern-sdk-method-name": "download"
      }
    },
    "/v1/pods": {
      "get": {
        "summary": "List Pods",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "pods:read",
        "responses": {
          "200": {
            "description": "Pods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pods": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pod"
                      }
                    }
                  },
                  "required": [
                    "pods"
                  ]
                }
              }
            }
          }
        },
        "operationId": "pods_list",
        "tags": [
          "pods"
        ],
        "x-fern-sdk-group-name": "pods",
        "x-fern-sdk-method-name": "list"
      },
      "post": {
        "summary": "Create a Pod",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "pods:create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PodCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pod created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pod": {
                      "$ref": "#/components/schemas/Pod"
                    }
                  },
                  "required": [
                    "pod"
                  ]
                }
              }
            }
          }
        },
        "operationId": "pods_create",
        "tags": [
          "pods"
        ],
        "x-fern-sdk-group-name": "pods",
        "x-fern-sdk-method-name": "create"
      }
    },
    "/v1/pods/{podId}": {
      "parameters": [
        {
          "name": "podId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^pod_"
          }
        }
      ],
      "get": {
        "summary": "Get a Pod",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "pods:read",
        "responses": {
          "200": {
            "description": "Pod",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pod": {
                      "$ref": "#/components/schemas/Pod"
                    }
                  },
                  "required": [
                    "pod"
                  ]
                }
              }
            }
          }
        },
        "operationId": "pods_get",
        "tags": [
          "pods"
        ],
        "x-fern-sdk-group-name": "pods",
        "x-fern-sdk-method-name": "get"
      },
      "patch": {
        "summary": "Update a Pod",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "pods:update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PodUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Pod",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pod": {
                      "$ref": "#/components/schemas/Pod"
                    }
                  },
                  "required": [
                    "pod"
                  ]
                }
              }
            }
          }
        },
        "operationId": "pods_update",
        "tags": [
          "pods"
        ],
        "x-fern-sdk-group-name": "pods",
        "x-fern-sdk-method-name": "update"
      },
      "delete": {
        "summary": "Delete a Pod",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "pods:delete",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "operationId": "pods_delete",
        "tags": [
          "pods"
        ],
        "x-fern-sdk-group-name": "pods",
        "x-fern-sdk-method-name": "delete"
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "List custom domains",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "domains:read",
        "responses": {
          "200": {
            "description": "Domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domains": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Domain"
                      }
                    }
                  },
                  "required": [
                    "domains"
                  ]
                }
              }
            }
          }
        },
        "operationId": "domains_list",
        "tags": [
          "domains"
        ],
        "x-fern-sdk-group-name": "domains",
        "x-fern-sdk-method-name": "list"
      },
      "post": {
        "summary": "Create a custom domain",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "domains:create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "$ref": "#/components/schemas/Domain"
                    }
                  },
                  "required": [
                    "domain"
                  ]
                }
              }
            }
          }
        },
        "operationId": "domains_create",
        "tags": [
          "domains"
        ],
        "x-fern-sdk-group-name": "domains",
        "x-fern-sdk-method-name": "create"
      }
    },
    "/v1/domains/{domainId}": {
      "parameters": [
        {
          "name": "domainId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^dom_"
          }
        }
      ],
      "get": {
        "summary": "Get a custom domain",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "domains:read",
        "responses": {
          "200": {
            "description": "Domain",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "$ref": "#/components/schemas/Domain"
                    }
                  },
                  "required": [
                    "domain"
                  ]
                }
              }
            }
          }
        },
        "operationId": "domains_get",
        "tags": [
          "domains"
        ],
        "x-fern-sdk-group-name": "domains",
        "x-fern-sdk-method-name": "get"
      },
      "delete": {
        "summary": "Delete a custom domain",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "domains:delete",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "operationId": "domains_delete",
        "tags": [
          "domains"
        ],
        "x-fern-sdk-group-name": "domains",
        "x-fern-sdk-method-name": "delete"
      }
    },
    "/v1/domains/{domainId}/verify": {
      "parameters": [
        {
          "name": "domainId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^dom_"
          }
        }
      ],
      "post": {
        "summary": "Verify a custom domain's DNS records",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "domains:update",
        "responses": {
          "200": {
            "description": "Verified domain state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "$ref": "#/components/schemas/Domain"
                    }
                  },
                  "required": [
                    "domain"
                  ]
                }
              }
            }
          }
        },
        "operationId": "domains_verify",
        "tags": [
          "domains"
        ],
        "x-fern-sdk-group-name": "domains",
        "x-fern-sdk-method-name": "verify"
      }
    },
    "/v1/webhooks": {
      "get": {
        "summary": "List webhook endpoints",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "webhooks:read",
        "responses": {
          "200": {
            "description": "Webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  },
                  "required": [
                    "webhooks"
                  ]
                }
              }
            }
          }
        },
        "operationId": "webhooks_list",
        "tags": [
          "webhooks"
        ],
        "x-fern-sdk-group-name": "webhooks",
        "x-fern-sdk-method-name": "list"
      },
      "post": {
        "summary": "Create a webhook endpoint",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "webhooks:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "$ref": "#/components/schemas/Webhook"
                    },
                    "secret": {
                      "type": "string",
                      "writeOnly": true
                    }
                  },
                  "required": [
                    "webhook",
                    "secret"
                  ]
                }
              }
            }
          }
        },
        "operationId": "webhooks_create",
        "tags": [
          "webhooks"
        ],
        "x-fern-sdk-group-name": "webhooks",
        "x-fern-sdk-method-name": "create"
      }
    },
    "/v1/webhooks/{webhookId}": {
      "parameters": [
        {
          "name": "webhookId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^whk_"
          }
        }
      ],
      "get": {
        "summary": "Get a webhook endpoint",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "webhooks:read",
        "responses": {
          "200": {
            "description": "Webhook",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  },
                  "required": [
                    "webhook"
                  ]
                }
              }
            }
          }
        },
        "operationId": "webhooks_get",
        "tags": [
          "webhooks"
        ],
        "x-fern-sdk-group-name": "webhooks",
        "x-fern-sdk-method-name": "get"
      },
      "patch": {
        "summary": "Update a webhook endpoint",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "webhooks:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated webhook",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  },
                  "required": [
                    "webhook"
                  ]
                }
              }
            }
          }
        },
        "operationId": "webhooks_update",
        "tags": [
          "webhooks"
        ],
        "x-fern-sdk-group-name": "webhooks",
        "x-fern-sdk-method-name": "update"
      },
      "delete": {
        "summary": "Delete a webhook endpoint",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "webhooks:write",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "operationId": "webhooks_delete",
        "tags": [
          "webhooks"
        ],
        "x-fern-sdk-group-name": "webhooks",
        "x-fern-sdk-method-name": "delete"
      }
    },
    "/v1/webhooks/{webhookId}/rotate-secret": {
      "parameters": [
        {
          "name": "webhookId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^whk_"
          }
        }
      ],
      "post": {
        "summary": "Rotate a webhook signing secret",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "webhooks:write",
        "responses": {
          "200": {
            "description": "New signing secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "secret": {
                      "type": "string",
                      "writeOnly": true
                    }
                  },
                  "required": [
                    "secret"
                  ]
                }
              }
            }
          }
        },
        "operationId": "webhooks_rotateSecret",
        "tags": [
          "webhooks"
        ],
        "x-fern-sdk-group-name": "webhooks",
        "x-fern-sdk-method-name": "rotateSecret"
      }
    },
    "/v1/labels": {
      "get": {
        "summary": "List labels",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "labels:read",
        "parameters": [
          {
            "name": "pod_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^pod_"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Labels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "labels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Label"
                      }
                    }
                  },
                  "required": [
                    "labels"
                  ]
                }
              }
            }
          }
        },
        "operationId": "labels_list",
        "tags": [
          "labels"
        ],
        "x-fern-sdk-group-name": "labels",
        "x-fern-sdk-method-name": "list"
      },
      "post": {
        "summary": "Create a label",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "labels:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LabelCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Label created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "$ref": "#/components/schemas/Label"
                    }
                  },
                  "required": [
                    "label"
                  ]
                }
              }
            }
          }
        },
        "operationId": "labels_create",
        "tags": [
          "labels"
        ],
        "x-fern-sdk-group-name": "labels",
        "x-fern-sdk-method-name": "create"
      }
    },
    "/v1/labels/{labelId}": {
      "parameters": [
        {
          "name": "labelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^lbl_"
          }
        }
      ],
      "delete": {
        "summary": "Delete a label",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "labels:write",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "operationId": "labels_delete",
        "tags": [
          "labels"
        ],
        "x-fern-sdk-group-name": "labels",
        "x-fern-sdk-method-name": "delete"
      }
    },
    "/v1/messages/{messageId}/labels": {
      "parameters": [
        {
          "name": "messageId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^msg_"
          }
        }
      ],
      "patch": {
        "summary": "Add or remove message labels",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "labels:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LabelMutation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current labels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "labels"
                  ]
                }
              }
            }
          }
        },
        "operationId": "labels_updateMessage",
        "tags": [
          "labels"
        ],
        "x-fern-sdk-group-name": "labels",
        "x-fern-sdk-method-name": "updateMessage"
      }
    },
    "/v1/threads/{threadId}/labels": {
      "parameters": [
        {
          "name": "threadId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^thr_"
          }
        }
      ],
      "patch": {
        "summary": "Add or remove thread labels",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "labels:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LabelMutation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current labels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "labels"
                  ]
                }
              }
            }
          }
        },
        "operationId": "labels_updateThread",
        "tags": [
          "labels"
        ],
        "x-fern-sdk-group-name": "labels",
        "x-fern-sdk-method-name": "updateThread"
      }
    },
    "/v1/lists": {
      "get": {
        "summary": "List allow and block lists",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "lists:read",
        "parameters": [
          {
            "name": "pod_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^pod_"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/List"
                      }
                    }
                  },
                  "required": [
                    "lists"
                  ]
                }
              }
            }
          }
        },
        "operationId": "lists_list",
        "tags": [
          "lists"
        ],
        "x-fern-sdk-group-name": "lists",
        "x-fern-sdk-method-name": "list"
      },
      "post": {
        "summary": "Create an allow or block list",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "lists:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "List created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "$ref": "#/components/schemas/List"
                    }
                  },
                  "required": [
                    "list"
                  ]
                }
              }
            }
          }
        },
        "operationId": "lists_create",
        "tags": [
          "lists"
        ],
        "x-fern-sdk-group-name": "lists",
        "x-fern-sdk-method-name": "create"
      }
    },
    "/v1/lists/{listId}": {
      "parameters": [
        {
          "name": "listId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^lst_"
          }
        }
      ],
      "delete": {
        "summary": "Delete an allow or block list",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "lists:write",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "operationId": "lists_delete",
        "tags": [
          "lists"
        ],
        "x-fern-sdk-group-name": "lists",
        "x-fern-sdk-method-name": "delete"
      }
    },
    "/v1/lists/{listId}/entries": {
      "parameters": [
        {
          "name": "listId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^lst_"
          }
        }
      ],
      "post": {
        "summary": "Add an address pattern to a list",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "lists:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListEntry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "$ref": "#/components/schemas/List"
                    }
                  },
                  "required": [
                    "list"
                  ]
                }
              }
            }
          }
        },
        "operationId": "lists_addEntry",
        "tags": [
          "lists"
        ],
        "x-fern-sdk-group-name": "lists",
        "x-fern-sdk-method-name": "addEntry"
      },
      "delete": {
        "summary": "Remove an address pattern from a list",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "lists:write",
        "parameters": [
          {
            "name": "address_pattern",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 320
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "$ref": "#/components/schemas/List"
                    }
                  },
                  "required": [
                    "list"
                  ]
                }
              }
            }
          }
        },
        "operationId": "lists_removeEntry",
        "tags": [
          "lists"
        ],
        "x-fern-sdk-group-name": "lists",
        "x-fern-sdk-method-name": "removeEntry"
      }
    },
    "/v1/events/tickets": {
      "post": {
        "summary": "Create a short-lived realtime ticket",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "events:read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "podId": {
                    "type": "string",
                    "pattern": "^pod_"
                  }
                },
                "required": [
                  "podId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Realtime ticket",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ticket": {
                      "type": "string",
                      "writeOnly": true
                    },
                    "expiresIn": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "websocketUrl": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "ticket",
                    "expiresIn",
                    "websocketUrl"
                  ]
                }
              }
            }
          }
        },
        "operationId": "events_createTicket",
        "tags": [
          "events"
        ],
        "x-fern-sdk-group-name": "events",
        "x-fern-sdk-method-name": "createTicket"
      }
    },
    "/v1/billing": {
      "get": {
        "summary": "Get plan and subscription entitlement",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "billing:read",
        "responses": {
          "200": {
            "description": "Billing account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "billing": {
                      "$ref": "#/components/schemas/BillingAccount"
                    }
                  },
                  "required": [
                    "billing"
                  ]
                }
              }
            }
          }
        },
        "operationId": "billing_get",
        "tags": [
          "billing"
        ],
        "x-fern-sdk-group-name": "billing",
        "x-fern-sdk-method-name": "get"
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "summary": "Create a Stripe subscription Checkout session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "billing:write",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingSelection"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "url"
                  ]
                }
              }
            }
          }
        },
        "operationId": "billing_createCheckout",
        "tags": [
          "billing"
        ],
        "x-fern-sdk-group-name": "billing",
        "x-fern-sdk-method-name": "createCheckout"
      }
    },
    "/v1/billing/portal": {
      "post": {
        "summary": "Create a Stripe customer portal session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "billing:write",
        "responses": {
          "201": {
            "description": "Customer portal",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "url"
                  ]
                }
              }
            }
          }
        },
        "operationId": "billing_createPortal",
        "tags": [
          "billing"
        ],
        "x-fern-sdk-group-name": "billing",
        "x-fern-sdk-method-name": "createPortal"
      }
    },
    "/a2a/{handle}": {
      "parameters": [
        {
          "name": "handle",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
          }
        }
      ],
      "post": {
        "summary": "Call an agent over A2A JSON-RPC",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "a2a:send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AJsonRpcRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A2A JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "operationId": "a2a_sendTask",
        "tags": [
          "a2a"
        ],
        "x-fern-sdk-group-name": "a2a",
        "x-fern-sdk-method-name": "sendTask"
      }
    },
    "/a2a/{handle}/.well-known/agent-card.json": {
      "parameters": [
        {
          "name": "handle",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
          }
        }
      ],
      "get": {
        "summary": "Discover an agent's public A2A card",
        "security": [],
        "responses": {
          "200": {
            "description": "A2A Agent Card",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/A2AAgentCard"
                }
              }
            }
          }
        },
        "operationId": "a2a_getAgentCard",
        "tags": [
          "a2a"
        ],
        "x-fern-sdk-group-name": "a2a",
        "x-fern-sdk-method-name": "getAgentCard"
      }
    },
    "/v1/a2a/tasks/{taskId}": {
      "parameters": [
        {
          "name": "taskId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^tsk_"
          }
        }
      ],
      "post": {
        "summary": "Update an assigned A2A task",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "a2a:update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2ATaskUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/A2ATask"
                    }
                  },
                  "required": [
                    "task"
                  ]
                }
              }
            }
          }
        },
        "operationId": "a2a_updateTask",
        "tags": [
          "a2a"
        ],
        "x-fern-sdk-group-name": "a2a",
        "x-fern-sdk-method-name": "updateTask"
      }
    },
    "/v1/a2a/identity": {
      "patch": {
        "summary": "Update the calling agent's public A2A profile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "a2a:update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AIdentitySettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated identity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "operationId": "a2a_updateIdentity",
        "tags": [
          "a2a"
        ],
        "x-fern-sdk-group-name": "a2a",
        "x-fern-sdk-method-name": "updateIdentity"
      }
    },
    "/mcp": {
      "post": {
        "summary": "Call the hosted MCP server",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-workos-permission": "tool-specific",
        "x-fern-ignore": true
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          }
        }
      },
      "BootstrapRequest": {
        "type": "object",
        "properties": {
          "requestedLocalPart": {
            "type": "string",
            "minLength": 3,
            "maxLength": 48,
            "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
          },
          "podName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          }
        },
        "additionalProperties": false
      },
      "BootstrapResponse": {
        "type": "object",
        "properties": {
          "agent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[a-z]{3}_[A-Za-z0-9]{6,}$"
              },
              "trustTier": {
                "type": "string",
                "enum": [
                  "bootstrap",
                  "verified",
                  "established"
                ]
              }
            },
            "required": [
              "id",
              "trustTier"
            ],
            "additionalProperties": false
          },
          "identity": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[a-z]{3}_[A-Za-z0-9]{6,}$"
              },
              "handle": {
                "type": "string",
                "minLength": 3,
                "maxLength": 48,
                "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
              },
              "emailAddress": {
                "type": "string",
                "format": "email",
                "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
              }
            },
            "required": [
              "id",
              "handle",
              "emailAddress"
            ],
            "additionalProperties": false
          },
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[a-z]{3}_[A-Za-z0-9]{6,}$"
              }
            },
            "required": [
              "id"
            ],
            "additionalProperties": false
          },
          "pod": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[a-z]{3}_[A-Za-z0-9]{6,}$"
              },
              "name": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "id",
              "name"
            ],
            "additionalProperties": false
          },
          "inbox": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[a-z]{3}_[A-Za-z0-9]{6,}$"
              },
              "address": {
                "type": "string",
                "format": "email",
                "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
              },
              "status": {
                "type": "string",
                "const": "active"
              }
            },
            "required": [
              "id",
              "address",
              "status"
            ],
            "additionalProperties": false
          },
          "capabilities": {
            "type": "object",
            "properties": {
              "receive": {
                "type": "boolean"
              },
              "send": {
                "type": "boolean"
              },
              "imap": {
                "type": "boolean"
              },
              "smtp": {
                "type": "boolean"
              },
              "customDomains": {
                "type": "boolean"
              },
              "a2a": {
                "type": "boolean"
              }
            },
            "required": [
              "receive",
              "send",
              "imap",
              "smtp",
              "customDomains",
              "a2a"
            ],
            "additionalProperties": false
          },
          "limits": {
            "type": "object",
            "properties": {
              "messagesPerDay": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "recipientsPerMessage": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "attachmentBytes": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "messagesPerDay",
              "recipientsPerMessage",
              "attachmentBytes"
            ],
            "additionalProperties": false
          },
          "links": {
            "type": "object",
            "properties": {
              "inbox": {
                "type": "string",
                "pattern": "^\\/.*"
              },
              "messages": {
                "type": "string",
                "pattern": "^\\/.*"
              },
              "events": {
                "type": "string",
                "pattern": "^\\/.*"
              },
              "imap": {
                "type": "string",
                "pattern": "^\\/.*"
              },
              "smtp": {
                "type": "string",
                "pattern": "^\\/.*"
              },
              "a2a": {
                "type": "string",
                "pattern": "^\\/.*"
              },
              "agentCard": {
                "type": "string",
                "pattern": "^\\/.*"
              }
            },
            "required": [
              "inbox",
              "messages",
              "events",
              "imap",
              "smtp",
              "a2a",
              "agentCard"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "agent",
          "identity",
          "organization",
          "pod",
          "inbox",
          "capabilities",
          "limits",
          "links"
        ],
        "additionalProperties": false
      },
      "InboxCreate": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "minLength": 3,
            "maxLength": 48,
            "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
          },
          "podId": {
            "type": "string",
            "pattern": "^pod_.*"
          },
          "domainId": {
            "type": "string",
            "pattern": "^dom_.*"
          },
          "clientId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256
          },
          "metadata": {
            "type": "object",
            "propertyNames": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            },
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 256
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                }
              ]
            }
          }
        },
        "additionalProperties": false
      },
      "InboxUpdate": {
        "type": "object",
        "properties": {
          "displayName": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 256
              },
              {
                "type": "null"
              }
            ]
          },
          "clientId": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 256
                },
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 256
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "Inbox": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[a-z]{3}_[A-Za-z0-9]{6,}$"
          },
          "podId": {
            "type": "string",
            "pattern": "^pod_.*"
          },
          "address": {
            "type": "string",
            "format": "email",
            "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
          },
          "displayName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "clientId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "metadata": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                }
              ]
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "provisioning",
              "active",
              "failed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
          }
        },
        "required": [
          "id",
          "podId",
          "address",
          "displayName",
          "clientId",
          "metadata",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "MessageCompose": {
        "type": "object",
        "properties": {
          "to": {
            "minItems": 1,
            "maxItems": 50,
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 320,
                  "format": "email",
                  "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                },
                {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "maxLength": 320,
                      "format": "email",
                      "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 256
                    }
                  },
                  "required": [
                    "address"
                  ],
                  "additionalProperties": false
                }
              ]
            }
          },
          "cc": {
            "maxItems": 50,
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 320,
                  "format": "email",
                  "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                },
                {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "maxLength": 320,
                      "format": "email",
                      "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 256
                    }
                  },
                  "required": [
                    "address"
                  ],
                  "additionalProperties": false
                }
              ]
            }
          },
          "bcc": {
            "maxItems": 50,
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 320,
                  "format": "email",
                  "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                },
                {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "maxLength": 320,
                      "format": "email",
                      "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 256
                    }
                  },
                  "required": [
                    "address"
                  ],
                  "additionalProperties": false
                }
              ]
            }
          },
          "replyTo": {
            "maxItems": 10,
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 320,
                  "format": "email",
                  "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                },
                {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "maxLength": 320,
                      "format": "email",
                      "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 256
                    }
                  },
                  "required": [
                    "address"
                  ],
                  "additionalProperties": false
                }
              ]
            }
          },
          "subject": {
            "default": "",
            "type": "string",
            "maxLength": 998
          },
          "text": {
            "type": "string",
            "maxLength": 10000000
          },
          "html": {
            "type": "string",
            "maxLength": 10000000
          },
          "headers": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string",
              "maxLength": 998
            },
            "additionalProperties": {
              "type": "string",
              "maxLength": 8192
            }
          },
          "attachments": {
            "maxItems": 100,
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "filename": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 512
                    },
                    "contentType": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255,
                      "pattern": "^[\\x20-\\x7e]+$"
                    },
                    "content": {
                      "type": "string",
                      "format": "base64",
                      "contentEncoding": "base64",
                      "pattern": "^$|^(?:[0-9a-zA-Z+/]{4})*(?:(?:[0-9a-zA-Z+/]{2}==)|(?:[0-9a-zA-Z+/]{3}=))?$"
                    },
                    "contentId": {
                      "type": "string",
                      "maxLength": 998
                    },
                    "disposition": {
                      "default": "attachment",
                      "type": "string",
                      "enum": [
                        "attachment",
                        "inline"
                      ]
                    }
                  },
                  "required": [
                    "filename",
                    "contentType",
                    "content"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "attachmentId": {
                      "type": "string",
                      "pattern": "^[a-z]{3}_[A-Za-z0-9]{6,}$"
                    },
                    "contentId": {
                      "type": "string",
                      "maxLength": 998
                    },
                    "disposition": {
                      "default": "attachment",
                      "type": "string",
                      "enum": [
                        "attachment",
                        "inline"
                      ]
                    }
                  },
                  "required": [
                    "attachmentId"
                  ],
                  "additionalProperties": false
                }
              ]
            }
          }
        },
        "required": [
          "to"
        ],
        "additionalProperties": false
      },
      "ReplyCompose": {
        "type": "object",
        "properties": {
          "to": {
            "maxItems": 50,
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 320,
                  "format": "email",
                  "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                },
                {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "maxLength": 320,
                      "format": "email",
                      "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 256
                    }
                  },
                  "required": [
                    "address"
                  ],
                  "additionalProperties": false
                }
              ]
            }
          },
          "cc": {
            "maxItems": 50,
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string",
[...]
