// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { getIdempotencyHeaders } from "../../../../core/idempotency.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentMailer from "../../../index.js";

export declare namespace EventsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

/**
 * Create realtime event-stream tickets
 */
export class EventsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EventsClient.Options>;

    constructor(options: EventsClient.Options = {}) {

        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a short-lived realtime ticket
     *
     * @param {AgentMailer.CreateTicketEventsRequest} request
     * @param {EventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.events.createTicket({
     *         podId: "podId"
     *     })
     */
    public createTicket(request: AgentMailer.CreateTicketEventsRequest, requestOptions?: EventsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.CreateTicketEventsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createTicket(request, requestOptions));
    }

    private async __createTicket(request: AgentMailer.CreateTicketEventsRequest, requestOptions?: EventsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.CreateTicketEventsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, getIdempotencyHeaders(), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), "v1/events/tickets"),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.CreateTicketEventsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/events/tickets");
    }
}
