// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { getIdempotencyHeaders } from "../../../../core/idempotency.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as AgentMailer from "../../../index.js";

export declare namespace ListsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage sender allow and block rules
 */
export class ListsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ListsClient.Options>;

    constructor(options: ListsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {AgentMailer.ListListsRequest} request
     * @param {ListsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.lists.list()
     */
    public list(
        request: AgentMailer.ListListsRequest = {},
        requestOptions?: ListsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMailer.ListListsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: AgentMailer.ListListsRequest = {},
        requestOptions?: ListsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMailer.ListListsResponse>> {
        const { pod_id: podId } = request;
        const _queryParams: Record<string, unknown> = {
            pod_id: podId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentMailerEnvironment.Default,
                "v1/lists",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.ListListsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentMailerError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/lists");
    }

    /**
     * @param {AgentMailer.ListCreate} request
     * @param {ListsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.lists.create({
     *         podId: "podId",
     *         name: "name",
     *         kind: "allow"
     *     })
     */
    public create(
        request: AgentMailer.ListCreate,
        requestOptions?: ListsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMailer.CreateListsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: AgentMailer.ListCreate,
        requestOptions?: ListsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMailer.CreateListsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            getIdempotencyHeaders(),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentMailerEnvironment.Default,
                "v1/lists",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.CreateListsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentMailerError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/lists");
    }

    /**
     * @param {string} listId
     * @param {ListsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.lists.delete("listId")
     */
    public delete(listId: string, requestOptions?: ListsClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(listId, requestOptions));
    }

    private async __delete(
        listId: string,
        requestOptions?: ListsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentMailerEnvironment.Default,
                `v1/lists/${core.url.encodePathParam(listId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentMailerError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/lists/{listId}");
    }

    /**
     * @param {string} listId
     * @param {AgentMailer.ListEntry} request
     * @param {ListsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.lists.addEntry("listId", {
     *         addressPattern: "addressPattern"
     *     })
     */
    public addEntry(
        listId: string,
        request: AgentMailer.ListEntry,
        requestOptions?: ListsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMailer.AddEntryListsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__addEntry(listId, request, requestOptions));
    }

    private async __addEntry(
        listId: string,
        request: AgentMailer.ListEntry,
        requestOptions?: ListsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMailer.AddEntryListsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            getIdempotencyHeaders(),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentMailerEnvironment.Default,
                `v1/lists/${core.url.encodePathParam(listId)}/entries`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.AddEntryListsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentMailerError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/lists/{listId}/entries");
    }

    /**
     * @param {string} listId
     * @param {AgentMailer.RemoveEntryListsRequest} request
     * @param {ListsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.lists.removeEntry("listId")
     */
    public removeEntry(
        listId: string,
        request: AgentMailer.RemoveEntryListsRequest = {},
        requestOptions?: ListsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMailer.RemoveEntryListsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__removeEntry(listId, request, requestOptions));
    }

    private async __removeEntry(
        listId: string,
        request: AgentMailer.RemoveEntryListsRequest = {},
        requestOptions?: ListsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMailer.RemoveEntryListsResponse>> {
        const { address_pattern: addressPattern } = request;
        const _queryParams: Record<string, unknown> = {
            address_pattern: addressPattern,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentMailerEnvironment.Default,
                `v1/lists/${core.url.encodePathParam(listId)}/entries`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.RemoveEntryListsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentMailerError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/lists/{listId}/entries");
    }
}
