// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { getIdempotencyHeaders } from "../../../../core/idempotency.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as AgentMailer from "../../../index.js";

export declare namespace MessagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Read, send, reply to, and forward email
 */
export class MessagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MessagesClient.Options>;

    constructor(options: MessagesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {string} inboxId
     * @param {AgentMailer.ListMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.messages.list("inboxId")
     */
    public list(
        inboxId: string,
        request: AgentMailer.ListMessagesRequest = {},
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMailer.ListMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(inboxId, request, requestOptions));
    }

    private async __list(
        inboxId: string,
        request: AgentMailer.ListMessagesRequest = {},
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMailer.ListMessagesResponse>> {
        const { limit, page_token: pageToken, thread_id: threadId, label, query, before, after } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            page_token: pageToken,
            thread_id: threadId,
            label,
            query,
            before: before != null ? before : undefined,
            after: after != null ? after : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentMailerEnvironment.Default,
                `v1/inboxes/${core.url.encodePathParam(inboxId)}/messages`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.ListMessagesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentMailerError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/inboxes/{inboxId}/messages",
        );
    }

    /**
     * @param {string} inboxId
     * @param {AgentMailer.MessageCompose} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.messages.send("inboxId", {
     *         to: ["to"]
     *     })
     */
    public send(
        inboxId: string,
        request: AgentMailer.MessageCompose,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMailer.SendMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__send(inboxId, request, requestOptions));
    }

    private async __send(
        inboxId: string,
        request: AgentMailer.MessageCompose,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMailer.SendMessagesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            getIdempotencyHeaders(),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentMailerEnvironment.Default,
                `v1/inboxes/${core.url.encodePathParam(inboxId)}/messages/send`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.SendMessagesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentMailerError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/inboxes/{inboxId}/messages/send",
        );
    }

    /**
     * @param {string} inboxId
     * @param {string} messageId
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.messages.get("inboxId", "messageId")
     */
    public get(
        inboxId: string,
        messageId: string,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMailer.GetMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(inboxId, messageId, requestOptions));
    }

    private async __get(
        inboxId: string,
        messageId: string,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMailer.GetMessagesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentMailerEnvironment.Default,
                `v1/inboxes/${core.url.encodePathParam(inboxId)}/messages/${core.url.encodePathParam(messageId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.GetMessagesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentMailerError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/inboxes/{inboxId}/messages/{messageId}",
        );
    }

    /**
     * @param {string} inboxId
     * @param {string} messageId
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.messages.delete("inboxId", "messageId")
     */
    public delete(
        inboxId: string,
        messageId: string,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(inboxId, messageId, requestOptions));
    }

    private async __delete(
        inboxId: string,
        messageId: string,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentMailerEnvironment.Default,
                `v1/inboxes/${core.url.encodePathParam(inboxId)}/messages/${core.url.encodePathParam(messageId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentMailerError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/inboxes/{inboxId}/messages/{messageId}",
        );
    }

    /**
     * @param {string} inboxId
     * @param {string} messageId
     * @param {AgentMailer.ReplyCompose} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.messages.reply("inboxId", "messageId", {})
     */
    public reply(
        inboxId: string,
        messageId: string,
        request: AgentMailer.ReplyCompose,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMailer.ReplyMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__reply(inboxId, messageId, request, requestOptions));
    }

    private async __reply(
        inboxId: string,
        messageId: string,
        request: AgentMailer.ReplyCompose,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMailer.ReplyMessagesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            getIdempotencyHeaders(),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentMailerEnvironment.Default,
                `v1/inboxes/${core.url.encodePathParam(inboxId)}/messages/${core.url.encodePathParam(messageId)}/reply`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.ReplyMessagesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentMailerError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/inboxes/{inboxId}/messages/{messageId}/reply",
        );
    }

    /**
     * @param {string} inboxId
     * @param {string} messageId
     * @param {AgentMailer.ReplyCompose} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.messages.replyAll("inboxId", "messageId", {})
     */
    public replyAll(
        inboxId: string,
        messageId: string,
        request: AgentMailer.ReplyCompose,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMailer.ReplyAllMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__replyAll(inboxId, messageId, request, requestOptions));
    }

    private async __replyAll(
        inboxId: string,
        messageId: string,
        request: AgentMailer.ReplyCompose,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMailer.ReplyAllMessagesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            getIdempotencyHeaders(),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentMailerEnvironment.Default,
                `v1/inboxes/${core.url.encodePathParam(inboxId)}/messages/${core.url.encodePathParam(messageId)}/reply-all`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.ReplyAllMessagesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentMailerError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/inboxes/{inboxId}/messages/{messageId}/reply-all",
        );
    }

    /**
     * @param {string} inboxId
     * @param {string} messageId
     * @param {AgentMailer.MessageCompose} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.messages.forward("inboxId", "messageId", {
     *         to: ["to"]
     *     })
     */
    public forward(
        inboxId: string,
        messageId: string,
        request: AgentMailer.MessageCompose,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMailer.ForwardMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__forward(inboxId, messageId, request, requestOptions));
    }

    private async __forward(
        inboxId: string,
        messageId: string,
        request: AgentMailer.MessageCompose,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMailer.ForwardMessagesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            getIdempotencyHeaders(),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentMailerEnvironment.Default,
                `v1/inboxes/${core.url.encodePathParam(inboxId)}/messages/${core.url.encodePathParam(messageId)}/forward`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.ForwardMessagesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentMailerError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/inboxes/{inboxId}/messages/{messageId}/forward",
        );
    }
}
