// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { getIdempotencyHeaders } from "../../../../core/idempotency.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentMailer from "../../../index.js";

export declare namespace ChannelConversationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class ChannelConversationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ChannelConversationsClient.Options>;

    constructor(options: ChannelConversationsClient.Options = {}) {

        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List human-channel conversations
     *
     * @param {AgentMailer.ListChannelConversationsRequest} request
     * @param {ChannelConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.channelConversations.list()
     */
    public list(request: AgentMailer.ListChannelConversationsRequest = {}, requestOptions?: ChannelConversationsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.ListChannelConversationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(request: AgentMailer.ListChannelConversationsRequest = {}, requestOptions?: ChannelConversationsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.ListChannelConversationsResponse>> {
        const { limit, pageToken, endpointId, channel, status } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            pageToken,
            endpointId,
            channel: channel != null ? channel : undefined,
            status: status != null ? status : undefined
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), "v1/channel-conversations"),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().addMany(_queryParams).mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.ListChannelConversationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/channel-conversations");
    }

    /**
     * Get a human-channel conversation
     *
     * @param {string} conversationId
     * @param {ChannelConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.channelConversations.get("conversationId")
     */
    public get(conversationId: string, requestOptions?: ChannelConversationsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.GetChannelConversationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(conversationId, requestOptions));
    }

    private async __get(conversationId: string, requestOptions?: ChannelConversationsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.GetChannelConversationsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), `v1/channel-conversations/${core.url.encodePathParam(conversationId)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.GetChannelConversationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/channel-conversations/{conversationId}");
    }

    /**
     * Open or close a human-channel conversation
     *
     * @param {string} conversationId
     * @param {AgentMailer.ChannelConversationUpdate} request
     * @param {ChannelConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.channelConversations.update("conversationId", {
     *         status: "active"
     *     })
     */
    public update(conversationId: string, request: AgentMailer.ChannelConversationUpdate, requestOptions?: ChannelConversationsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.UpdateChannelConversationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(conversationId, request, requestOptions));
    }

    private async __update(conversationId: string, request: AgentMailer.ChannelConversationUpdate, requestOptions?: ChannelConversationsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.UpdateChannelConversationsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, getIdempotencyHeaders(), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), `v1/channel-conversations/${core.url.encodePathParam(conversationId)}`),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.UpdateChannelConversationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/channel-conversations/{conversationId}");
    }
}
