// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { getIdempotencyHeaders } from "../../../../core/idempotency.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentMailer from "../../../index.js";

export declare namespace ChannelEndpointsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class ChannelEndpointsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ChannelEndpointsClient.Options>;

    constructor(options: ChannelEndpointsClient.Options = {}) {

        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List human-channel endpoints
     *
     * @param {ChannelEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.channelEndpoints.list()
     */
    public list(requestOptions?: ChannelEndpointsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.ListChannelEndpointsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(requestOptions?: ChannelEndpointsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.ListChannelEndpointsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), "v1/channel-endpoints"),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.ListChannelEndpointsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/channel-endpoints");
    }

    /**
     * Assign a human-channel endpoint
     *
     * @param {AgentMailer.ChannelEndpointCreate} request
     * @param {ChannelEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.channelEndpoints.create({
     *         inboxId: "inboxId",
     *         podId: "podId",
     *         channel: "sms"
     *     })
     */
    public create(request: AgentMailer.ChannelEndpointCreate, requestOptions?: ChannelEndpointsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.CreateChannelEndpointsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(request: AgentMailer.ChannelEndpointCreate, requestOptions?: ChannelEndpointsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.CreateChannelEndpointsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, getIdempotencyHeaders(), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), "v1/channel-endpoints"),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.CreateChannelEndpointsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/channel-endpoints");
    }

    /**
     * Get a human-channel endpoint
     *
     * @param {string} endpointId
     * @param {ChannelEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.channelEndpoints.get("endpointId")
     */
    public get(endpointId: string, requestOptions?: ChannelEndpointsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.GetChannelEndpointsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(endpointId, requestOptions));
    }

    private async __get(endpointId: string, requestOptions?: ChannelEndpointsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.GetChannelEndpointsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), `v1/channel-endpoints/${core.url.encodePathParam(endpointId)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.GetChannelEndpointsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/channel-endpoints/{endpointId}");
    }

    /**
     * Enable or disable a human-channel endpoint
     *
     * @param {string} endpointId
     * @param {AgentMailer.ChannelEndpointUpdate} request
     * @param {ChannelEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.channelEndpoints.update("endpointId", {
     *         status: "active"
     *     })
     */
    public update(endpointId: string, request: AgentMailer.ChannelEndpointUpdate, requestOptions?: ChannelEndpointsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.UpdateChannelEndpointsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(endpointId, request, requestOptions));
    }

    private async __update(endpointId: string, request: AgentMailer.ChannelEndpointUpdate, requestOptions?: ChannelEndpointsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.UpdateChannelEndpointsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, getIdempotencyHeaders(), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), `v1/channel-endpoints/${core.url.encodePathParam(endpointId)}`),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.UpdateChannelEndpointsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/channel-endpoints/{endpointId}");
    }
}
