// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { getIdempotencyHeaders } from "../../../../core/idempotency.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentMailer from "../../../index.js";

export declare namespace DomainsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

/**
 * Claim and inspect sending domains
 */
export class DomainsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DomainsClient.Options>;

    constructor(options: DomainsClient.Options = {}) {

        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List custom domains
     *
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.domains.list()
     */
    public list(requestOptions?: DomainsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.ListDomainsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(requestOptions?: DomainsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.ListDomainsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), "v1/domains"),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.ListDomainsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/domains");
    }

    /**
     * Create a custom domain
     *
     * @param {AgentMailer.DomainCreate} request
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.domains.create({
     *         domain: "domain"
     *     })
     */
    public create(request: AgentMailer.DomainCreate, requestOptions?: DomainsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.CreateDomainsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(request: AgentMailer.DomainCreate, requestOptions?: DomainsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.CreateDomainsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, getIdempotencyHeaders(), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), "v1/domains"),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.CreateDomainsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/domains");
    }

    /**
     * Get a custom domain
     *
     * @param {string} domainId
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.domains.get("domainId")
     */
    public get(domainId: string, requestOptions?: DomainsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.GetDomainsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(domainId, requestOptions));
    }

    private async __get(domainId: string, requestOptions?: DomainsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.GetDomainsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), `v1/domains/${core.url.encodePathParam(domainId)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.GetDomainsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/domains/{domainId}");
    }

    /**
     * Delete a custom domain
     *
     * @param {string} domainId
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.domains.delete("domainId")
     */
    public delete(domainId: string, requestOptions?: DomainsClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(domainId, requestOptions));
    }

    private async __delete(domainId: string, requestOptions?: DomainsClient.RequestOptions): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), `v1/domains/${core.url.encodePathParam(domainId)}`),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/domains/{domainId}");
    }

    /**
     * Verify a custom domain's DNS records
     *
     * @param {string} domainId
     * @param {DomainsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.domains.verify("domainId")
     */
    public verify(domainId: string, requestOptions?: DomainsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.VerifyDomainsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__verify(domainId, requestOptions));
    }

    private async __verify(domainId: string, requestOptions?: DomainsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.VerifyDomainsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, getIdempotencyHeaders(), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), `v1/domains/${core.url.encodePathParam(domainId)}/verify`),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.VerifyDomainsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/domains/{domainId}/verify");
    }
}
