// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { getIdempotencyHeaders } from "../../../../core/idempotency.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentMailer from "../../../index.js";

export declare namespace AttachmentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

/**
 * Prepare attachment uploads
 */
export class AttachmentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AttachmentsClient.Options>;

    constructor(options: AttachmentsClient.Options = {}) {

        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a direct attachment upload
     *
     * @param {string} inboxId
     * @param {AgentMailer.AttachmentUploadCreate} request
     * @param {AttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.attachments.upload("inboxId", {
     *         filename: "filename",
     *         contentType: "contentType",
     *         size: 1,
     *         checksumSha256: "checksumSha256"
     *     })
     */
    public upload(inboxId: string, request: AgentMailer.AttachmentUploadCreate, requestOptions?: AttachmentsClient.RequestOptions): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__upload(inboxId, request, requestOptions));
    }

    private async __upload(inboxId: string, request: AgentMailer.AttachmentUploadCreate, requestOptions?: AttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, getIdempotencyHeaders(), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), `v1/inboxes/${core.url.encodePathParam(inboxId)}/attachments`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/inboxes/{inboxId}/attachments");
    }

    /**
     * Complete a direct attachment upload
     *
     * @param {string} inboxId
     * @param {string} attachmentId
     * @param {AttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.attachments.complete("inboxId", "attachmentId")
     */
    public complete(inboxId: string, attachmentId: string, requestOptions?: AttachmentsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.CompleteAttachmentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__complete(inboxId, attachmentId, requestOptions));
    }

    private async __complete(inboxId: string, attachmentId: string, requestOptions?: AttachmentsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.CompleteAttachmentsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, getIdempotencyHeaders(), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), `v1/inboxes/${core.url.encodePathParam(inboxId)}/attachments/${core.url.encodePathParam(attachmentId)}/complete`),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.CompleteAttachmentsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/inboxes/{inboxId}/attachments/{attachmentId}/complete");
    }

    /**
     * Create a short-lived attachment download
     *
     * @param {string} inboxId
     * @param {string} attachmentId
     * @param {AttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMailer.BadRequestError}
     * @throws {@link AgentMailer.UnauthorizedError}
     * @throws {@link AgentMailer.ForbiddenError}
     * @throws {@link AgentMailer.TooManyRequestsError}
     * @throws {@link AgentMailer.InternalServerError}
     * @throws {@link errors.AgentMailerError}
     * @throws {@link errors.AgentMailerTimeoutError}
     *
     * @example
     *     await client.attachments.download("inboxId", "attachmentId")
     */
    public download(inboxId: string, attachmentId: string, requestOptions?: AttachmentsClient.RequestOptions): core.HttpResponsePromise<AgentMailer.DownloadAttachmentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__download(inboxId, attachmentId, requestOptions));
    }

    private async __download(inboxId: string, attachmentId: string, requestOptions?: AttachmentsClient.RequestOptions): Promise<core.WithRawResponse<AgentMailer.DownloadAttachmentsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.AgentMailerEnvironment.Default), `v1/inboxes/${core.url.encodePathParam(inboxId)}/attachments/${core.url.encodePathParam(attachmentId)}/download`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as AgentMailer.DownloadAttachmentsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new AgentMailer.BadRequestError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 401: throw new AgentMailer.UnauthorizedError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 403: throw new AgentMailer.ForbiddenError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 429: throw new AgentMailer.TooManyRequestsError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                case 500: throw new AgentMailer.InternalServerError(_response.error.body as AgentMailer.Error_, _response.rawResponse);
                default: throw new errors.AgentMailerError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/inboxes/{inboxId}/attachments/{attachmentId}/download");
    }
}
